
/* Core Style */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

/* Plugin Css */
